<div class='container'>
  <h1>Add New Restaurant</h1>
    <%= simple_form_for(@restaurant) do |f| %>
      <%= f.input :name, label: "Restaurant's name", error: 'Name is mandatory, please specify one' %>
      <%= f.input :address, label: "Restaurant's address", error: 'Address is mandatory, please specify one' %>
      <%= f.input :phone_number, label: "Restaurant's Phone Number", error: 'Phone number is mandatory, please specify one' %>
      <%= f.input :category, label: "Restaurant's Category", error: 'Category is mandatory, please select one' %>
      <%= f.button :submit, class:"btn btn-primary" %>
    <% end %>
  <br>
  <%= link_to "All restaurants", restaurants_path, class:"btn btn-primary"%>
</div>
